Host *
	ForwardAgent yes
	ServerAliveInterval 3
	ServerAliveCountMax 20
	TCPKeepAlive no
	ControlMaster auto
	ControlPath ~/.ssh/%h-%p-%r
	ControlPersist 4h
	Compression yes

Host gce
    HostName doubigg.me
    User root
    Port 22
    IdentityFile ~/.ssh/id_rsa


